html body {
  --primary: #000000;
  --secondary: #0a6c74;
  --tertiary: #3b82f6;
  --background: #fff;
  background: var(--background);
}

html body.dark {
  --primary: #b0175e;
  --secondary: #2265bc;
  --tertiary: #209986;
  --background: #000d21;
  background: var(--background);
}

h1 {
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  color: var(--secondary);
}
h3 {
  font-size: 24px;
  color: var(--tertiary);
  font-weight: 500;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 16px;
}
